spring:
  datasource:
    url: jdbc:postgresql://192.168.12.183:5432/orders
    username: order_user
    password: order_pass
  jpa:
    hibernate.ddl-auto: update

kafka:
  bootstrap-servers: localhost:9092
  producer:
    acks: all
    retries: 10
    properties:
      enable.idempotence: true
    key-serializer: org.apache.kafka.common.serialization.StringSerializer
    value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

management:
  endpoints:
    web.exposure.include: health,info,prometheus